Flask
requests==2.32.3
pycryptodome==3.20.0
protobuf==6.30.0
google==3.0.0
Werkzeug==2.0.3
httpx
flask_cors
cachetools
PyJWT
pillow
undetected-chromedriver==3.5.5
selenium==4.25.0
fake-useragent==1.5.1
cloudscraper==1.2.71
